.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 10px 20px;
    box-sizing: border-box;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: transparent;
    color: white;
}

.navbar-container.scrolled {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-start {
    min-width: 60px;
    margin: 0;
}

.navbar-start img {
    width: 60px;
    height: 60px;
}

.navbar-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-btn {
    margin: 0 0.5rem;
}

.code-btn {
    all: unset;
    display: inline-block;
    background-color: green;
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-left: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.code-btn:hover {
    background-color: #07c160;
    color: #fff;
    border: none;
    transform: scale(1.05);
}

.nav-last {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
}

.navbar-end {
    padding-right: 1rem;
}

.navbar-profile {
    margin-left: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    clip-path: circle(50%);
    object-fit: cover;
}

.navaccess {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navaccess div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .navbar-container {
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: start;
    }

    .navbar-middle {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

    .navbar-middle.active {
        display: flex;
    }

    .navaccess {
        display: flex;
    }

    .code-btn {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
        margin: 0.5rem 0;
    }
}