.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.react-pdf__Page__canvas {
    max-width: 900px !important;
    height: auto !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.download-btn {
    display: inline-block;
    padding: 0.8rem 1.2rem;
    border-radius: 0.5rem;
    background-color: #09f172;
    color: #213547;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.download-btn:hover {
    background-color: #07c160;
    color: white;
    transform: scale(1.05);
}

@media (min-width: 300px) {
    .download-btn {
        padding: 0.5rem 1rem;
        font-weight: 500;
        margin-top: 1rem;
    }
}