.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.react-pdf__Page__canvas {
    max-width: 900px !important;
    height: auto !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.download-btn {
    all: unset;
    display: inline-block;
    background-color: rgb(82, 192, 30);
    /* Bootstrap primary blue */
    color: #fff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.download-btn:hover {
    background-color: green;
    color: #fff;
    border: none;
    transform: scale(1.05);
}