.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {
    margin: 2rem 5rem;
    box-sizing: border-box;
    max-width: 100vw;
}

@media (max-width: 500px) {
    .main-content {
        margin: 0.75rem 2rem;
    }
}